/* Fonts */
@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/pt-sans/pt-sans-regular.woff2') format('woff2'),
      url('./fonts/pt-sans/pt-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/pt-sans/pt-sans-bold.woff2') format('woff2'),
      url('./fonts/pt-sans/pt-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu/ubuntu-bold.woff2') format('woff2'),
      url('./fonts/ubuntu/ubuntu-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/roboto-condensed/roboto-condensed-bold.woff2') format('woff2'),
      url('./fonts/roboto-condensed/roboto-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* End Fonts */

/* General */
:root {
  --main-text-color: #0D2C3D;
  --secondary-color: #E7F3FA;
  --success-color: #76BF7E;
  --success-transparent-color: #F1FFF3;
  --danger-color: #E41D1D;
  --badge-color: #EB5757;
  --warning-color: #FEAC0B;
  --primary-color: #5D5FEF;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text-color);
  height: 100%;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
.container {
  min-width: 300px;
  max-width: 1540px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.img-responsive {
  width: 100%;
  height: auto;
}
/* End General */

/* Page */
.page {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  position: relative;       
}
.page__heading {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: .04rem;
  color: #000;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.page__heading_without_margin {
  margin: 0;
}
.page__scroll-top-button {
  display: none;
  border: none;
  border-radius: .5rem;
  width: 3.4rem;
  height: 3.3rem;
  background-color: rgba(13, 44, 61, 0.5);
  position: absolute;
  bottom: -1.5rem;
  right: 1rem;
  cursor: pointer;
  background-image: url(./img/arrow-top.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page__scroll-top-button:hover {
  background-color: var(--main-text-color);
}
.page__scroll-top-button_visible {
  display: block;
}
/* End Page */

/* Media Page */
@media (max-width: 575px) {
  .page__heading {
    margin-bottom: 1.5rem;
  }
  .page__heading_without_margin {
    margin: 0;
  }
}
/* End Media Page */

/* Breadcrumb */
.breadcrumb {
  margin-bottom: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.breadcrumb__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.breadcrumb__item {
  color: rgba(0, 0, 0, 0.5);
  font-size: .7rem;
  letter-spacing: .014rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.breadcrumb__item:not(:last-child)::after {
  content: ' — ';
  white-space: pre;  
}
.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}
/* End Breadcrumb */

/* Form Elements */
.input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: .85rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .25rem;
  line-height: normal;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input:focus {
  border-color: rgba(0, 0, 0, 0.50);
  outline: none;
}
.input:focus::-webkit-input-placeholder, .search-input:focus::-webkit-input-placeholder {
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input:focus::-moz-placeholder, .search-input:focus::-moz-placeholder {
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input:focus:-ms-input-placeholder, .search-input:focus:-ms-input-placeholder {
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input:focus::-ms-input-placeholder, .search-input:focus::-ms-input-placeholder {
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input:focus::placeholder,
.search-input:focus::placeholder {
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input_address {
  padding-left: 1.5rem;
  background-image: url(./img/geo-icon.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: left .25rem bottom .5rem;
}
.input_time {
  text-align: center;
}
.search-input {
  padding: .45rem;
  padding-left: 2.3rem;
  font-size: .8rem;
  font-family: inherit;
  line-height: 1.3;
  background-image: url(./img/search-icon.svg);
  background-repeat: no-repeat;
  background-size: .7rem;
  background-position: left 1rem center;
  border-radius: .4rem;
  border: 1px solid #C4C4C4;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.search-input:focus {
  border-color: rgba(0, 0, 0, 0.50);
  outline: none;
}
.search-input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.search-input::-moz-placeholder {
  color: #c4c4c4;
}
.search-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.search-input::-ms-input-placeholder {
  color: #c4c4c4;
}
.search-input::placeholder {
  color: #c4c4c4;
}
.form-control {
  width: 100%;
}
.form-control__error-message {
  color: var(--danger-color);
  font-size: .7rem;
  text-align: right;
  letter-spacing: .014rem;
}
.form-control_error label {
  color: var(--danger-color);
}
.form-control_error .input {
  border-color: var(--danger-color);
  color: var(--danger-color);
}
.form-control_error .input::-webkit-input-placeholder {
  color: red;
}
.form-control_error .input::-moz-placeholder {
  color: red;
}
.form-control_error .input:-ms-input-placeholder {
  color: red;
}
.form-control_error .input::-ms-input-placeholder {
  color: red;
}
.form-control_error .input::placeholder {
  color: red;
}
.form-control_error .form-control__error-message {
  display: block;
}
.toggle__field {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
}
.toggle__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
.toggle__label::before {
  content: '';
  display: inline-block;
  margin-right: .5rem;
  width: 1.65rem;
  height: .9rem;
  border-radius: .45rem;
  background-color: rgb(13, 44, 61, 0.5);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;    
}
.toggle__label::after {
  content: '';
  display: block;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: .15rem;
  left: .15rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle__field:checked + .toggle__label::before {
  background-color: var(--success-color);
}
.toggle__field:checked + .toggle__label::after {
  left: .9rem;
}
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.legend {
  padding: 0;
  margin: 0;
}
/* End Form Elements */

/* Media Form Elements */
@media (max-width: 575px) {
  .input_address {
    padding-left: 2rem;
    background-position: left .8rem bottom .5rem;
  }
}
/* End Media Form Elements */

/* Button */
.button {
  padding: .9rem 2.2rem;
  border: none;
  border-radius: 2.5rem;
  width: auto;
  background-color: var(--main-text-color);
  color: #fff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: .02rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.button:hover {
  opacity: 0.85;
}
.button:disabled {
  background-color: rgba(13, 44, 61, 0.5);
  pointer-events: none;
}
.button_secondary {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  outline: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button_secondary:hover {
  outline: 1px solid var(--main-text-color);
}
.button_secondary:disabled {
  background-color: transparent;
  border-color: rgba(13, 44, 61, 0.5);
  color: rgba(13, 44, 61, 0.5);
}
.button_icon_plus .button__text::after {
  content: '';
  display: inline-block;
  position: relative;
  left: 0;
  width: .65rem;
  height: .65rem;
  background-image: 
    -o-linear-gradient(bottom, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem),
    -o-linear-gradient(right, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem);
  background-image: 
    -webkit-gradient(linear, left bottom, left top, color-stop(.3rem, transparent), color-stop(.3rem, #000), color-stop(.35rem, #000), color-stop(.35rem, transparent)),
    -webkit-gradient(linear, right top, left top, color-stop(.3rem, transparent), color-stop(.3rem, #000), color-stop(.35rem, #000), color-stop(.35rem, transparent));
  background-image: 
    linear-gradient(to top, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem),
    linear-gradient(to left, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem);
  margin-left: .75rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;   
}
.button_icon_plus:hover .button__text::after {
  left: 0.5rem;
}
/* End Button */

/* Img Uploader */
.img-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;                    
}
.img-uploader__img-area {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: .25rem solid #fff;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
          -webkit-box-shadow: 0 0 .5rem var(--success-color);
                  box-shadow: 0 0 .5rem var(--success-color);
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;              
}
.img-uploader__img-area:hover {
  -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
}
.img-uploader__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.img-uploader__button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;      
}
/* End Img Uploader */

/* Media Img Uploader */
@media (max-width: 991px) {
  .img-uploader {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}
@media (max-width: 991px) {
  .img-uploader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: .55rem;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
  }
  .img-uploader__button-area {
    row-gap: .55rem; 
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* End Media Img Uploader */

/* Registration Form */
.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.5rem;
     -moz-column-gap: 5.5rem;
          column-gap: 5.5rem;
}
.registration-form__left {
  width: 100%;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;  
}
/* End Registration Form */

/* Media Registration Form */
@media (max-width: 991px) {
  .registration-form {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
@media (max-width: 575px) {
  .registration-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.5rem;       
  }
  .registration-form__submit-button {
    width: 100%;
  }
}
/* End Media Registration Form */

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(.3rem);
          backdrop-filter: blur(.3rem);
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: none;
}
.modal_opened {
  display: block;
}
.modal__window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff; 
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
}
.modal__body {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
}
.modal__close-button {
  position: absolute;
  top: .75rem;
  right: .75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--main-text-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.modal__close-button:hover {
  color: #000;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
/* End Modal */

/* Registration Modal */
.registration-modal__window {
  width: 27.15rem;
  /* height: 34.25rem;  */
}
.registration-modal__body {
  background-color: var(--secondary-color);
  padding: 25.85rem 4.75rem 3.2rem;
  background-size: 92%;
  background-repeat: no-repeat;
  background-position: top center;
}
.registration-modal__message {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .04rem;
}
/* End Registration Modal */

/* Media Registration Modal */
@media (max-width: 575px) {
  .registration-modal__window {
    min-height: 28.15rem;
  }
  .registration-modal__body {
    padding: 19.4rem 0.5rem 3.95rem;
    background-size: 80%;
    background-position: top 2.2rem center;
  }
}
@media (max-height: 700px) and (orientation: landscape) {
  .registration-modal__window {
    max-height: 95vh;
  }
  .registration-modal__body {
    padding-top: 60vh;
    background-size: 60%;
  }
}
@media (max-height: 500px) and (orientation: landscape) {
  .registration-modal__body {
    padding-top: 50vh;
    padding-bottom: 2rem;
    background-size: 45%;
  }
}
/* End Media Registration Modal */

/* Company Creation Form */
.company-creation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.5rem;
     -moz-column-gap: 5.5rem;
          column-gap: 5.5rem;
}
.company-creation-form__left {
  width: 100%;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;  
}
/* End Company Creation Form */

/* Media Company Creation Form */
@media (max-width: 991px) {
  .company-creation-form {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
@media (max-width: 575px) {
  .company-creation-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 3rem;            
  }
  .company-creation-form__submit-button {
    width: 100%;
  }
}
/* End Media Company Creation Form */

/* Select */
.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .35rem;
  position: relative;
}
.select__select {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;           
}
.select__input-wrapper {
  position: relative;
}
.select__input-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: .45rem;
  height: .45rem;
  border: .1rem solid transparent;
  border-left: .1rem solid var(--main-text-color);
  border-bottom: .1rem solid var(--main-text-color);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 1rem;
  right: 1.2rem;
  pointer-events: none;
}
.select__input {
  border: none;  
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2rem;  
  cursor: pointer;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .7rem;
  padding-right: 2.6rem;
  width: 100%;
  background-color: var(--secondary-color); 
  border-radius: .35rem;
}
.select__input::-webkit-input-placeholder {
  color: var(--main-text-color);
  opacity: 1;
}
.select__input::-moz-placeholder {
  color: var(--main-text-color);
  opacity: 1;
}
.select__input:-ms-input-placeholder {
  color: var(--main-text-color);
  opacity: 1;
}
.select__input::-ms-input-placeholder {
  color: var(--main-text-color);
  opacity: 1;
}
.select__input::placeholder {
  color: var(--main-text-color);
  opacity: 1;
}
.select__input:focus {
  outline: none;
}
.select__options {
  position: absolute;
  left: 0;
  top: calc(100% + .1rem);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: .6rem;
  padding-bottom: .6rem;
  background-color: #fff;
  border-radius: .35rem;
  z-index: 1;
  display: none;
  -webkit-box-shadow: 0 .25rem 1rem 0 rgba(0, 0,0 , 0.25);
          box-shadow: 0 .25rem 1rem 0 rgba(0, 0,0 , 0.25);
  max-height: 20.3rem;
  overflow-y: auto;        
}
.select__item {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .8rem;
  padding-right: 2.5rem;
  font-size: .8rem;
  line-height: 1.2rem;
  letter-spacing: -0.008rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.select__item:hover {
  background-color: var(--secondary-color);
}
.select__item_selected {
  position: relative;
}
.select__item_selected::after {
  content: '';
  position: absolute;
  display: block;
  width: .85rem;
  height: .4rem;
  border-left: .1rem solid var(--success-color);
  border-bottom: .1rem solid var(--success-color);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 1rem;
  right: .95rem; 
} 
.select_opened .select__options {
  display: block;
}
.select_opened .select__input-wrapper::after {
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: #666;
  border-top-color: #666;
  bottom: .7rem;
}
.select_opened .select__input::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: .8rem;
}
.select_opened .select__input::-moz-placeholder {
  opacity: 0.5;
  font-size: .8rem;
}
.select_opened .select__input:-ms-input-placeholder {
  opacity: 0.5;
  font-size: .8rem;
}
.select_opened .select__input::-ms-input-placeholder {
  opacity: 0.5;
  font-size: .8rem;
}
.select_opened .select__input::placeholder {
  opacity: 0.5;
  font-size: .8rem;
}
.select_theme_compact {
  font-size: .8rem;
}
.select_theme_compact .select__select {
  position: unset;
}
.select_theme_compact .select__input-wrapper::after {
  right: .15rem;
  bottom: .5rem;
}
.select_theme_compact.select_opened .select__input-wrapper::after {
  bottom: .2rem;
}
.select_theme_compact .select__input {
  color: var(--success-color);
  padding: 0;
  padding-right: 1.05rem;
  width: auto;
  background-color: transparent; 
  border-radius: 0;
}
.select_theme_compact .select__options {
  padding-top: 0;
  padding-bottom: 0;
}
.select_theme_compact .select__item {
  border-radius: .35rem;
}
.select_theme_compact .select__item:hover {
  background-color: var(--success-transparent-color);
}
.select_theme_compact .select__item_selected {
  background-color: var(--secondary-color);
}
.select_theme_compact .select__item_selected::after {
  position: relative;
  bottom: -0.1rem;
  right: 0.05rem;
  display: inline-block;
  margin-left: .3rem;
  width: .8rem;
  height: .8rem;
  border: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  background-image: url(./img/round-check-mark-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* End Select */

/* Organization Form Select */
.org-form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;                  
}
.org-form-select__label {
  color: rgba(0, 0, 0, 0.5);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: .5rem;    
}
.org-form-select__select {
  width: 15rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/* End Organization Form Select */

/* Media Organization Form Select */
@media (max-width: 575px) {
  .org-form-select__select {
    width: 100%;
  }
}
/* End Media Organization Form Select */

/* Locations Page */
.locations-page {
  max-width: 62.5rem;
}
.locations-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem; 
  margin-bottom: 3.75rem;               
}
.locations-page__button-for-small-screens {
  display: none;
}
.locations-page__body {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;                 
}
.locations-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.65rem;
}
.locations-page__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.locations-page__item {
  display: block;
  background-color: var(--secondary-color);
  border-radius: .75rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 3.75rem;
  padding-right: 3rem;
  background-image: url(./img/geo-icon.svg);
  background-size: .9rem;
  background-position: left 1.25rem center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  line-height: 1.3;
}
.locations-page__item::after {
  content: '';
  display: block;
  position: absolute;
  width: .4rem;
  height: .4rem;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  right: 1.55rem;
  top: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.locations-page__item:hover::after {
  border-color: var(--success-color);
  -webkit-transform: rotate(45deg) translateY(-50%) scale(1.3);
      -ms-transform: rotate(45deg) translateY(-50%) scale(1.3);
          transform: rotate(45deg) translateY(-50%) scale(1.3);
  right: 1.3rem;        
}
.locations-page__item-number,
.locations-page__item-name {
  font-size: .8rem;
}
.locations-page__item-number::after {
  content: ' /';
  white-space: pre;
}
.locations-page__item-address {
  font-weight: 700;
  display: block;
  margin-top: .25rem; 
}
/* End Locations Page */

/* Media Locations Page */
@media (max-width: 991px) {
  .locations-page__list {
    grid-template-columns: 1fr;
  }
  .locations-page__item {
    border-radius: .2rem;
    padding-left: 2.4rem;
    background-position: left .7rem center;
  }
}
@media (max-width: 767px) {
  .locations-page__body {
    grid-template-columns: 1fr;
  }
  .locations-page__button-for-big-screens {
    display: none;
  }
  .locations-page__button-for-small-screens {
    display: block;
  }
}
@media (max-width: 580px) {
  .locations-page__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.35rem;
    margin-bottom: 1.35rem;                   
  }
  .locations-page__list {
    gap: .3rem;
  }
  .locations-page__item {
    background-position: left .75rem top 1.15rem;
  }
}
/* End Media Locations Page */

/* Side Menu */
.side-menu {
  width: 11.65rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: .05rem solid #EFEFEF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;    
}
.side-menu__item {
  font-size: .7rem;
  letter-spacing: .014rem;
  line-height: normal;
}
.side-menu__item:not(:last-child) {
  border-bottom: .05rem solid #EFEFEF;
}
.side-menu__item_active {
  font-weight: 700;
}
.side-menu__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: .85rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.side-menu__link:hover {
  background-color: #EFEFEF;
}
/* End Side Menu */

/* Media Side Menu */
@media (max-width: 767px) {
  .side-menu {
    display: none;
  }
}
/* End Media Side Menu */

/* Bottom Menu */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 -0.2rem .5rem 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 -0.2rem .5rem 0 rgba(0, 0, 0, 0.06);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;        
}
.bottom-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.bottom-menu__item {
  background-repeat: no-repeat;
  background-position: top .95rem center;
  position: relative;
}
.bottom-menu__item_active {
  background-color: var(--main-text-color);
  color: #fff;
}
.bottom-menu__item_my {
  background-image: url(./img/bottom-menu-my-icon-black.svg);
}
.bottom-menu__item_locations {
  background-image: url(./img/bottom-menu-locations-icon-black.svg);
}
.bottom-menu__item_requests {
  background-image: url(./img/bottom-menu-requests-icon-black.svg);
}
.bottom-menu__item_profile {
  background-image: url(./img/bottom-menu-profile-icon-black.svg);
}
.bottom-menu__item_my.bottom-menu__item_active {
  background-image: url(./img/bottom-menu-my-icon-white.svg);
}
.bottom-menu__item_locations.bottom-menu__item_active {
  background-image: url(./img/bottom-menu-locations-icon-white.svg);
}
.bottom-menu__item_requests.bottom-menu__item_active {
  background-image: url(./img/bottom-menu-requests-icon-white.svg);
}
.bottom-menu__item_profile.bottom-menu__item_active {
  background-image: url(./img/bottom-menu-profile-icon-white.svg);
}
.bottom-menu__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;        
  height: 4.4rem;
  padding: .4rem .65rem;
  text-align: center;
  font-size: .7rem;
  line-height: 80%;
}
.bottom-menu__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1.05rem;
  height: 1.05rem;
  position: absolute;
  top: .4rem;
  right: .7rem;
  border-radius: 2.5rem;
  background-color: var(--badge-color);
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  line-height: 100%;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  padding: 0 .3rem;
}
/* End Bottom Menu */

/* Media Bottom Menu */
@media (max-width: 767px) {
  .bottom-menu {
    display: block;
  }
}
/* End Media Bottom Menu */

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;        
}
.pagination__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination__item {
  font-size: .8rem;
  line-height: 1.2rem;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;    
}
.pagination__item_hidden {
  display: none;
}
.pagination__link {
  text-decoration: none;
  display: block;
  padding: .4rem .5rem;
  border-radius: .35rem;
  font-weight: 700;
  color: rgba(13, 44, 61, 0.5);  
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pagination__item_active .pagination__link {
  background-color: var(--secondary-color);
  padding: .4rem .75rem;
  margin: 0 .5rem;
  color: var(--main-text-color);
}
.pagination__item:not(.pagination__item_active):hover .pagination__link {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--main-text-color);    
}
.pagination__link_prev {
  background-image: url(./img/arrow-left-grey.svg);
  background-position: left center;
}
.pagination__link_next {
  background-image: url(./img/arrow-right-grey.svg);
  background-position: right center;
}
.pagination__link_prev,
.pagination__link_next {
  background-repeat: no-repeat;
  background-size: .3rem;
  width: .8rem;
  height: 100%;
  padding: 0;
}
.pagination__item:hover .pagination__link_prev:hover {
  background-image: url(./img/arrow-left-black.svg);
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}
.pagination__item:hover .pagination__link_next:hover {
  background-image: url(./img/arrow-right-black.svg);
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}
/* End Pagination */

/* Media  Pagination */
@media (max-width: 767px) {
  .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* End Media Pagination */

/* Location Page */
.location-page {
  max-width: 41rem;
}
.location-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;                  
}
.location-page__avatar {
  width: 5.85rem;
  height: 5.85rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;   
}
.location-page__heading {
  line-height: 1;
}
.location-page__body {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;                 
}
.location-page__form {
  position: relative;
  top: -0.9rem;
  width: 100%;
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.location-page__fieldset {
  margin-top: .55rem;
}
.location-page__coords {
  display: grid;
  grid-template-columns: repeat(2, 5.35rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;        
}
.location-page__latitude,
.location-page__longitude {
  font-size: .85rem; 
}
.location-page__latitude::-webkit-input-placeholder, .location-page__longitude::-webkit-input-placeholder {
  font-size: 1rem;
}
.location-page__latitude::-moz-placeholder, .location-page__longitude::-moz-placeholder {
  font-size: 1rem;
}
.location-page__latitude:-ms-input-placeholder, .location-page__longitude:-ms-input-placeholder {
  font-size: 1rem;
}
.location-page__latitude::-ms-input-placeholder, .location-page__longitude::-ms-input-placeholder {
  font-size: 1rem;
}
.location-page__latitude::placeholder,
.location-page__longitude::placeholder {
  font-size: 1rem;
}
.location-page__hours {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;      
}
.location-page__working-hours,
.location-page__lunch-hours {
  display: grid;
  grid-template-columns: repeat(2, 5.35rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  position: relative;        
}
.location-page__working-hours::after,
.location-page__lunch-hours::after {
  content: '';
  display: block;
  position: absolute;
  width: .45rem;
  height: .05rem;
  background-color: var(--main-text-color);
  left: 50%;
  bottom: .9rem;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
}
.location-page__add-button {
  width: 100%;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--secondary-color);
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: .02rem;
  cursor: pointer;
  padding: .35rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .75rem; 
  margin-bottom: 1.25rem;       
}
.location-page__add-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .75rem;
     -moz-column-gap: .75rem;
          column-gap: .75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location-page__add-button-text::after {
  content: '';
  display: block;
  width: .65rem;
  height: .65rem;
  background-image: 
    -o-linear-gradient(bottom, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem),
    -o-linear-gradient(right, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem);
  background-image: 
    -webkit-gradient(linear, left bottom, left top, color-stop(.3rem, transparent), color-stop(.3rem, #000), color-stop(.35rem, #000), color-stop(.35rem, transparent)),
    -webkit-gradient(linear, right top, left top, color-stop(.3rem, transparent), color-stop(.3rem, #000), color-stop(.35rem, #000), color-stop(.35rem, transparent));
  background-image: 
    linear-gradient(to top, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem),
    linear-gradient(to left, transparent .3rem, #000 .3rem, #000 .35rem, transparent .35rem);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.location-page__add-button:hover {
  background-color: rgba(13, 44, 61, 0.15);
}
.location-page__add-button:hover .location-page__add-button-text::after {
  -webkit-transform: translateX(.75rem);
      -ms-transform: translateX(.75rem);
          transform: translateX(.75rem);
}
/* End Location Page */

/* Media Location Page */
@media (max-width: 767px) {
  .location-page__body {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575px) {
  .location-page__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .location-page__avatar {
    width: 5rem;
    height: 5rem; 
  }
  .location-page__hours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: .75rem;                
  }
  .location-page__add-button {
    padding-top: .9rem;
    padding-bottom: .9rem;
    margin-bottom: .25rem;
  }
  .location-page__save-button {
    width: 100%;
  }
}
/* End Media Location Page */

/* Requests Page */
.requests-page__body {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.requests-page__content {
  position: relative;
  top: -0.55rem;
}
.requests-page__search-and-create-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;               
}
.requests-page__search-form {
  min-width: 50%;
  width: auto;
}
.requests-page__filters {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2rem;        
}
.requests-page__company-filter {
  width: 100%;
  max-width: 12.5rem;
}
.requests-page__status-filter {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.requests-page__table-header {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 2fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-size: .7rem;
  border-bottom: 1px solid #EBEFF2;
  padding-bottom: .75rem;
  letter-spacing: .014rem; 
}
.requests-page__list {
  margin-bottom: 1.95rem;
}
.requests-page__item {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 2fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  padding-top: .85rem;
  padding-bottom: .85rem;        
  border-bottom: 1px solid #EBEFF2;
  text-decoration: none;
}
.requests-page__item:hover {
  background-color: var(--success-transparent-color);
}
.requests-page__company-name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.requests-page__request-name::after {
  content: '';
  display: inline-block;
  width: .35rem;
  height: .65rem;
  background-image: url(./img/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
  position: relative;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.requests-page__item:hover .requests-page__request-name::after {
  left: 0.5rem;
}
/* End Requests Page */

/* Media Requests Page */
@media (max-width: 1399px) {
  .requests-page__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 1199px) {
  .requests-page__table-header {
    grid-template-columns: 2fr 1fr 2fr 1fr; 
  }
  .requests-page__item {
    font-size: .8rem;
    grid-template-columns: 2fr 1fr 2fr 1fr;
  }
}
@media (max-width: 991px)  {
  .requests-page__create-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: .8rem;
  }
  .requests-page__request-name::after {
    display: none;
  }
  .requests-page__table-header {
    display: none; 
  }
  .requests-page__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 14px;
  }
  .requests-page__item {
    grid-template-columns: auto 1fr;
    -webkit-column-gap: .85rem;
       -moz-column-gap: .85rem;
            column-gap: .85rem;
    padding-top: .35rem;
    padding-bottom: .5rem;
    padding-left: .8rem;
    padding-right: 3rem;        
    border: none;
    background-color: var(--secondary-color);
    border-radius: .2rem;
    position: relative;
  }
  .requests-page__item::after {
    content: '';
    display: block;
    position: absolute;
    width: .4rem;
    height: .4rem;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    right: 1.3rem;
    bottom: .9rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .requests-page__date {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .request-status {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .requests-page__request-name {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: .4rem;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  .requests-page__company-name {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: .9rem;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .requests-page__body {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575px) {
  .requests-page__search-and-create-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;   
    row-gap: 1.25rem;
    margin-bottom: .7rem;
  }
  .requests-page__filters {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
/* End Media Requests Page */

/* Request Status */
.request-status {
  color: #343434;
  padding-left: 13px;
  position: relative;
  white-space: nowrap
}
.request-status::before {
  content: '';
  display: block;
  position: absolute;
  width: .4rem;
  height: .4rem;
  border: .1rem solid #000;
  border-radius: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.request-status_new::before {
  border-color: var(--success-color);
}
.request-status_work::before {
  border-color: var(--warning-color);
}
.request-status_done::before {
  border-color: var(--primary-color);
}
.request-status_completed::before {
  border-color: var(--danger-color);
}
/* End Request Status */

/* Status Filter */
.status-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.status-filter__output {
  display: none;
  position: relative;
}
.status-filter__output::after {
  content: '';
  display: block;
  position: absolute;
  width: .45rem;
  height: .45rem;
  border: .1rem solid transparent;
  border-left: .1rem solid var(--main-text-color);
  border-bottom: .1rem solid var(--main-text-color);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: .9rem;
  right: .35rem;
  pointer-events: none;
}
.status-filter__list {
  --underline-width: 0;
  --underline-offset-x: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: .05rem solid rgba(13, 44, 61, 0.50);
  width: auto;
  position: relative;
}
.status-filter__list::after {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(13, 44, 61, 0.3);
  left: 0;
  bottom: -0.1rem;
  height: .2rem;
  width: var(--underline-width);
  -webkit-transform: translateX(var(--underline-offset-x));
      -ms-transform: translateX(var(--underline-offset-x));
          transform: translateX(var(--underline-offset-x));
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.status-filter__item {
  color: #343434;
  font-size: .8rem;
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: 1.8rem;
  padding-right: .75rem;
  position: relative;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;    
}
.status-filter__item::before {
  content: '';
  display: block;
  position: absolute;
  width: .4rem;
  height: .4rem;
  border: .1rem solid #000;
  border-radius: 50%;
  top: 50%;
  left: 1.15rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.status-filter__item_all {
  padding-left: 2rem;
  background-image: url(./img/all-icon.svg);
  background-repeat: no-repeat;
  background-size: .8rem;
  background-position: left .85rem center;
}
.status-filter__item_all::before {
  display: none;
}
.status-filter__item_new::before {
  border-color: var(--success-color);
}
.status-filter__item_work::before {
  border-color: var(--warning-color);
}
.status-filter__item_done::before {
  border-color: var(--primary-color);
}
.status-filter__item_completed::before {
  border-color: var(--danger-color);
}
.status-filter__item::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: .2rem;
  left: 0;
  bottom: -0.1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.status-filter__item_selected::after {
  background-color: var(--main-text-color);
}
/* End Status Filter */

/* Media Status Filter */
@media (max-width: 1199px) {
  .status-filter__output {
    display: block;
  }
  .status-filter__list {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;    
    -webkit-box-shadow: 0 .25rem 1rem 0 rgba(0, 0,0 , 0.25);    
            box-shadow: 0 .25rem 1rem 0 rgba(0, 0,0 , 0.25);    
  }
  .status-filter_opened .status-filter__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .status-filter__list::after {
    display: none;
  }
  .status-filter__item {
    padding-right: 1.05rem;
  }
  .status-filter__item_selected {
    background-color: var(--secondary-color);
  }
  .status-filter__item_selected::after {
    background-color: transparent;
  }
  .status-filter__item_all {
    padding-left: 1.8rem;
    background-position: left .8rem center;
  }
  .status-filter__item:hover {
    background-color: var(--success-transparent-color);
  }
}
/* End Media Status Filter */